.footbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    padding: 1%;
    max-width: 1000px;
}

.comment{
    display: flex;
    width: 25%;
    margin: auto;
    padding: 1%;
    justify-content: space-around;
}

.shares{
    display: flex;
    width: 25%;
    margin: auto;
    padding: 1%;
    justify-content: space-around;
}

.saves{
    display: flex;
    width: 25%;
    margin: auto;
    padding: 1%;
    justify-content: space-around;
}

.send{
    display: flex;
    width: 25%;
    margin: auto;
    padding: 1%;
    justify-content: space-around;
}